@import "tailwindcss";
@font-face {
  font-family: Star Trek;
  src: url("../assets/fonts/Ba.TTF");
}


html,
body {
    font-family: "Star Trek", sans-serif;
    background-color: #FFD07B;
}

@keyframes blackhole-warp {
    0% {
      transform: scale(0.1) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: scale(1) rotate(360deg);
      opacity: 1;
    }
  }
  
  @keyframes breatheUp {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px); /* Moves up */
    }
  }
  
  @keyframes breatheDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px); /* Moves down */
    }
  }
  
  .animate-floatFast {
    animation: breatheUp 2s ease-in-out infinite;
  }
  
  .animate-floatSlow {
    animation: breatheDown 4s ease-in-out infinite;
  }
  
  .CodeSavage {
    margin-left: auto;
    width: fit-content;
  }